asgiref
cloudinary
dj-database-url
django
django-allauth
django-cloudinary-storage
django-rest-framework
gunicorn
pathlib
python-dotenv
requests
sqlparse
whitenoise
psycopg[binary]
psycopg2-binary
PyJWT==2.10.1
cryptography==44.0.1

reportlab
setuptools
